@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.contact > h1{
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: bolder;
    text-align: center;
    color: #9e00c5;
    text-transform: uppercase;
}

.contact > p{
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.form-control:focus{
    background-color: #f5dcfc;
}

.btn{
    background-color: rgba(158, 0, 197, 0.993);
    color: white;
}

.btn:hover{
    background-color: rgb(135, 7, 167);
    text-shadow: 1px 1px 3px #ffffff;
}

.form-contact{
    max-width: 800px;
    margin: 50px auto;
    margin-top:0px;
}