@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.register > h1, .about-div > h1, .about-div > h3{
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: bolder;
    text-align: center;
    color: #9e00c5;
    text-transform: uppercase;
}

.form-register{
    max-width:600px;
    margin:0 auto;
}
label, input{
    font-family: 'Lato', sans-serif;
}
.form-control{
    color: #d500f9;
}

.form-control:focus{
    background-color: #f5dcdc;
}

.form-control:focus::placeholder{
    color: #9e00c5;
}

input[typed = "checkbox"]{
    width: 20px;
    height: 20px;
}
.btn:hover{
    background: #9e00c5;
    color: #ffffff;
}

.btn{
    color: #9e00c5;
    border: 1px solid #9e00c5;
}

.about-div{
    max-width: 900px;
    text-align: center;
    margin: 150px auto;
}

.about-div > h1{
    margin-top : 10px;   
}


@media screen and (max-width: 600px){
    .about-div p{
        padding: 15px;
    }
}