@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.row{
    margin:0;
}

li{
    list-style-type: none;
}

.boxes{
    margin: 70px 10px;
}

.boxes > .col-sm-4{
    padding: 10px 80px;
}

.boxes > .col-sm-4 > p{
    padding: 10px 0px;
    color: #9e00c5;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid lightgrey;
}

.fa-plus{
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: #9e00c5;
}

.fa-plus:hover{
    color: #d500f9;
}


.boxes > .col-sm-8 > .top-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-heading > h4{
    font-size: 18px;
    font-weight: 600;
    color: #9e00c5;
    padding: 15px 0px;
    border-bottom: 1px solid lightgray;
}

select{
    padding: 5px;
    background-color: white;
    color: #9e00c5;
    border-radius: 2px;
    border: 1px solid #9e00c5;
}

h6{
    font-weight: bolder;
    font-size: 13px;
}

.card{
    position: relative;
    border: 1px solid #d500f9;
    box-shadow: 0px 0px 2px #9e00c5;
    cursor: pointer;
}

.card-img-top{
    height: 150px;
    overflow: hidden;
}

.card::before{
    position: absolute;
    content: "Sale";
    width: 50px;
    font-size: 14px;
    padding: 14px 0px;
    text-align: center;
    left:-20px;
    top:-24px;
    height: 50px;
    background-color: #9e00c5;
    color: white;
    font-weight: 700;
    border-radius: 50%;
}

.card-footer{
    background-color: rgba(255, 91, 255, 0.3);
}


.brand > li, .category > li{
    letter-spacing: 1.05px;
    word-spacing: 2px;
    cursor: pointer;
    padding: 3px 30px;
    font-weight: 200;
}

.brand > li, .category > li > a{
    color: #000000;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.card-title{
    font-size: 18px;
    font-weight: 700;
}

.card-text{
    font-size: 13px;
}

.brand > li:hover{
    background-color: #9e00c5;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.category > li > a:hover{
    color: #9e00c5;
    font-weight: bold;
    cursor: pointer;
}

.page-item{
    border: 1px solid #9e00c5;
}

.page-link{
    border: none;
    color: #9e00c5;
}

.page-link:hover{
    background-color: #9e00c5;
    color: white;
    font-weight: bolder;
    border-radius: unset;
}


@media screen and (max-width: 600px){

    .boxes > .col-sm-4{
        padding: 10px 20px;
    }

    .boxes > .col-sm-8 > .top-heading{
        flex-direction: column;
    }

    .card{
        margin-top: 15px;
    }

    .card-img-top{
        height: 200px;
    }

}